
<div class="container-fluid" ng-app="hwk.resourcesModule" ng-controller="hwk.resourcesController" id="theController">

  <!-- TOAST NOTIFICATIONS -->

  <pf-notification-list></pf-notification-list>

  <!-- Toolbar Filters and Kebab -->
  <div class="row toolbar-pf">
    <div class="col-md-12">
      <form class="toolbar-pf-actions">
        <div class="form-group">
          <div class="dropdown btn-group  dropdown-kebab-pf">
            <button class="btn btn-link dropdown-toggle" type="button" id="resourcesKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu " aria-labelledby="resourceDefinitionsKebab">
              <li ng-click="refreshTree()"><a>Refresh</a></li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default col-md-6 col-sm-6">
      <div class="panel panel-body" style="height:80vh;overflow:auto">
        <div id="resourceTree"></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel panel-body" style="height:80vh;overflow:auto">
        <form class="form-horizontal col-md-12 col-sm-12">
          <div class="form-group">
            <div style="width:200px">
              <input ng-disabled="!resource || !resource.metrics || resource.metrics.length < 1"
                     class="form-control pull-left" type="text" ng-model="promBaseUrl"/>
            </div>
            <div class="dropdown pull-left" style="padding-left:10px">
              <button ng-disabled="!resource || !resource.metrics || resource.metrics.length < 1"
                      class="btn btn-default dropdown-toggle" type="button" id="metricDropdown" data-toggle="dropdown">
                Metrics
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="m in resource.metrics" role="presentation">
                  <a role="menuitem" tabindex="-1" ng-click="showMetric(m)">{{m.displayName}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <div>
              <textarea class="form-control" ng-model="resource.json" ng-readonly="true" rows="30" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div><!-- /container -->

